@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & > svg {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
button {
  padding: 0;
  background: none;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* path { 
  fill:inherit; 
  stroke:inherit; 
} */

.container {
  max-width: $desctopContainer;
  padding: 0 30px; 
  margin: 0 auto;

  @include lg{ 
    padding: 0 30px;  
  };
  @include md {  
      padding: 0 25px;
  };
  @include sm {
      padding: 0 20px;  
  };
}
h2,h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  
  @include sm {
    font-size: 18px;
    
  }
}
p {
  
  @include sm {
    font-size: 14px;
  }
}
.logo {
  display: flex;
  align-items: center;
  max-width: 190px;

  &_coub {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &_text {
    width: 150px;
    height: 30px;
  }

  @include lg {
    max-width: 166px;
  }

  @include md {
    
  }
  @include sm {
    max-width: 112px;
  }
}
// 
// Modules:
@import "./components/main.scss";
@import "./modules/main.scss";