form#applicationForm.application-form.contacts__form(action='./send.php' method='POST')
  h3.application-form__title Оставить заявку
  p.application-form__descr Оставьте ваши данные, указав в графе “Комментарий” желаемые время и дату съемки или другого мероприятия
  input#applicationFormName.application-form__input.input(name='name' type='text' placeholder='Имя')
  input#applicationFormTel.application-form__input.input(name='E-mail' type='email' placeholder='E-mail')
  textarea#applicationFormComment.application-form__comment.input(name='comment' placeholder='Комментарий')
  button#applicationFormBtn.application-form__button.btn.btn-primary(type='submit') Отправить