form.feedback
    h3.feedback__title Подписаться на рассылку
    div.feedback__container
        input.feedback__input.input(name='E-mail' type='email' placeholder='E-mail')
        button.feedback__button.btn.btn-primary Отправить
