//- const navList = ['О студии', 'Наши проекты', 'Услуги', 'Мастер-классы', 'Контакты'] 
- const navList = [{title: 'О студии', link: 'about'}, {title: 'Наши проекты', link: 'projects'},{title: 'Услуги', link: 'services'},{title: 'Мастер-классы', link: 'about'},{title: 'Контакты', link: 'contacts'}] 

nav.nav
  button.burger 
    span 
    span 
    span
  ul.nav__list
    each item in navList
      li.nav__item
        a.nav__link.link(href=`#` + item.link)= item.title
    li.nav__item
      block phone
          include ./phone
