form#searchForm.search(action="https://jsonplaceholder.typicode.com/posts" method="POST")
    button.search__button.svg-link
        svg.search__icon
            use(xlink:href="#search")
    input.search__input(type='search' placeholder='Что будем искать?')