- const socials = ['inst', 'fb', 'vk']

ul(class='social')
    each item in socials
        li(class='social__item')
            a(class='social__link svg-link', href='#')
                svg.social__img
                    use(xlink:href="#" + item)