.application-form {
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 4px;
        font-weight: 400;
    }
    &__descr {
        margin-bottom: 10px;
        color: $pearlescent-light-gray;
    }
    &__input,
    &__comment {
        margin-bottom: 20px;
        background-color: $smoky-white;
    }

    &__comment {
        height: 100%;
    }
}