.link {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    color: $white;
    transition: color .3s ease-in-out;
    &:hover {
      color: $primary-color;
    }
    &:focus-visible {
      color: $white;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        z-index: -1;
        width: calc(100% + 8px);
        height: 100%;
        background-color: $darken-primary-color;
        transform: translateX(-50%);
      }

      .link__arrow {
        background-color: $white;
      }
    }
    &:active {
      color: $active-primary-color;

      .link__arrow {
        background-color: $active-primary-color;
      }
    }
    &__arrow {
        position: relative;
        width: 19px;
        height: 2px;
        margin-left: 5px;
        background-color: $accentColor;
        border-radius: 1px;
        transform: translateY(1px);
        &::after,
        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 10px;
            height: 2px;
            background-color: inherit;
            border-radius: 1px;
        }
        &::after {
            transform: translateY(-3px) rotate(35deg);
        }
        &::before {
            transform: translateY(3px) rotate(325deg);
        }
    }
}
.svg-link {
    fill: $descrText;
    transition: fill .3s ease-in-out;
    &:hover {
        fill: $primary-color;
    }
    &:focus-visible {
        fill: $darken-primary-color;
    }
    &:active {
        fill: $active-primary-color;
    }
}
.tag {
    display: flex;
    align-items: center;
    margin-left: auto;
    min-height: 30px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 1;
    color: $whiteText;
    background-color: $darkgrey;
    transition: color .3s ease-in-out;
    &:hover {
        color: $primary-color;
    }
    &:focus-visible {
        color: $whiteText;
        background-color: $primary-color;
    }
    &:active {
        color: $whiteText;
        background-color: $active-primary-color;
    }
    @include sm {
        min-height: 22px;
        font-size: 12px;
    }
}
.cross {
    position: relative;
    z-index: 2;
    width: 23px;
    height: 23px;
    margin-right: 2px;
    background-color: $accentColor;
    border-radius: 50%;
    transform: translateY(-1px);

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        background: $white-color;
        transform:translate(-50%, -50%);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
    }
}
.btn {
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0 22px;
    color: $whiteText;
    border: 3px solid $accentColor;
    cursor: pointer;
    transition: color .2s ease-in-out, background .2s ease-in-out;
    @include sm {
        font-size: 14px;
    }
}
.btn-primary {
    background-color: $accentColor;
    &:hover {
        background-color: $darken-primary-color;
        border-color: $darken-primary-color;
    }
    &:focus-visible {
        border-color: $active-primary-color;
    }
}
.btn-secondary {
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &:focus-visible {
        background-color: $darken-primary-color;
    }
}
.btn-secondary,
.btn-primary {
    min-height: 50px;
    @include sm {
        min-height: 40px;
    }
    &:active {
        background-color: $active-primary-color;
        border-color: $active-primary-color;
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 15px 20px;
    border: 1px solid transparent;
    
    &:hover {
        &::placeholder {
            color: $primary-color;
        }
    }
    &:focus-visible {
        border-color: $primary-color;
    }
    @include sm {
        min-height: 40px;
    }
}