.feedback {
    grid-column: span 6;
    grid-row: 3;
    width: 100%;
    padding-top: 20px;

    &__container {
        display: flex;
        
        @include xl{ 
            flex-direction: column;
        }
    }

    &__title {
        margin-bottom: 14px;
        color: inherit;
    }
    &__input {
        background-color: $bgInputFeedback;
        color: $white-color;

        @include xl{ 
            max-width: 342px;
            margin-bottom: 20px;
        }
    }
    &__button {
        margin-left: 30px;

        @include xl{ 
            margin: 0;
        }
    }
    @include xl{ 
        grid-column: span 4;
    }
    @include lg{ 
        grid-column: span 3;
    }
    @include sm{ 
        grid-column: 1 / span 4;
        grid-row: 4;
    }
}