.nav {
  grid-row: 1;
  
  &__list {
    display: flex;
    @include sm {
      position: absolute;
      top: -12px;
      left: -20px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100vw;
      min-height: 365px;
      height: calc(100vh - 70px);
      padding: 48px 20px 36px;
      background-color: $bgTopHeader;
      transform: translateX(-100%);
      transition: transform .3s ease-in-out;
      &.open {
        transform: translateX(0%);
      }
    }
  }
  &__item {
    &:last-child {
      display: none;
  
      @include sm {
        display: flex;
        margin-top: auto;
      }
    }
    &:not(:last-child) {
      margin-right: auto;
      @include sm {
        margin-bottom: 30px;
      }
    }
  }
  
  &__link {
    
  }
  @include xl {
  }

  @include lg {
  }

  @include md {
    grid-column: span 3;
    grid-row: 2;
  }

  @include sm {
    position: relative;
    grid-column: span 4;
    display: flex;
  }
}
.burger {
  position: relative;
  z-index: 3;
  display: none;
  width: 20px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  @include sm {
    display: flex;
  }
  
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
      width: 10px;
    }
  }
  &.open {
    width: 18px;
    background-color: $gray-color;
    border-radius: 50%;
    span {
      &:nth-child(1) {
        top: 8px;
        width: 10px;
        height: 1px;
        transform: translateX(4px) rotate(135deg);
      }
      &:nth-child(2) {
        left: -60px;
        opacity: 0;
      }
      &:nth-child(3) {
        top: 8px;
        height: 1px;
        transform: translateX(4px) rotate(-135deg);
      }
    }
  }
}