.phone {
    &__icon {
      width: 17px;
      height: 17px;
      margin-right: 2px;
    }
    &__number {
      font-weight: 700;
    }
  
    @include lg {
    }
  
    @include md {
    }
  
    @include sm {
    }
  }