.search {
  grid-column: span 2;
  grid-row: 2;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  
  &__button {
    &:hover {
      ~ .search__input::placeholder {
        color: $primary-color;
        transition: all .3s ease-in-out;
      }
      ~ .search__input {
        border-bottom-color: $primary-color;
      }
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    &:focus-visible {
      .search__input {
        border-bottom-color: $primary-color;
      }
    }
    @include md {
      width: 25px;
      height: 25px;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    color: $white;
    border: none;
    border-bottom: 1px solid $searchInputColor;
    background-color: inherit;
    transition: all 0.3s ease-in-out;
    &:hover {
      ~ .search__button:first-child {
        fill: $primary-color;
      }
    }
    &::placeholder {
      color: $searchInputColor;
    }

    @include md {
      width: 0;
      border-bottom-color: transparent;
    }
    &:hover {
      color: $primary-color;
    }
    &:focus-visible {
      width: 100%;
      border-bottom-color: $primary-color;
    }
    &.active {
      z-index: 2;
      width: 100%;
      border-bottom-color: $searchInputColor;
    }
  }

  @include md {
    grid-column: 2 / span 2;
    grid-row: 1;
    flex-direction: row-reverse;
    width: 100%;
    background-color: $bgTopHeader;
  }
  @include sm {
    grid-column: 1 / span 4;
    justify-self: flex-end;
  }
}
