.social {
    display: flex;
    grid-row: 1;
    justify-self: right;
    
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__link {
        fill: $descrText;
    }
    &__img {
        width: 30px;
        height: 30px;
    }
}