section#about.about
    div.container
        h2.about__title О студии
        p.about__descr.
            В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. 
            Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! 
            Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. 
            Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. 
            Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. 
            Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
        picture.about__picture
            source(srcset= paths.img + '/about/canon-s@2x.webp 2x,' + paths.img + '/about/canon-s.webp 1x' media="(max-width: 576px)")
            source(srcset= paths.img + '/about/canon-m@2x.webp 2x,' + paths.img + '/about/canon-m.webp 1x' media="(max-width: 992px)")
            source(srcset= paths.img + '/about/canon-l@2x.webp 2x,' + paths.img + '/about/canon-l.webp 1x' media="(max-width: 1200px)")
            source(srcset= paths.img +  '/about/canon@2x.webp 2x, ' +  paths.img + '/about/canon.webp 1x')
            img(src='' +  paths.img +  '/about/canon.jpg' width='630' height='255' alt='Изображение фотоаппарата')
        block feedback
            include ../components/feedback