section#contacts.contacts
    div.container
        h2.contacts__title Контакты
        .contacts__address
            h3.contacts__address_title Студия “High pass”
            address.contacts__address_street 107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
            a.contacts__address_tel.link(href="tel:+749542423532") +7 (495) 42-423-532
        #map.contacts__map
        block application-form
            include ../components/application-form