footer#footer.footer
  .container
    .footer__license
      .logo
        svg(class='logo_coub')
          use(xlink:href="#logoCoub")
        svg(class='logo_text')
          use(xlink:href="#logoText")
      p.footer__license_text Фотостудия High pass® 2018-2020
    .footer__quote
      p.footer__quote_text Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
      p.footer__quote_autor © Имоджен Каннингем
    .footer__social
      p.footer__social_text Больше интересного:
      block social
        include ../components/social