header.header
    .container
        .logo
            svg.logo_coub
                    use(xlink:href="#logoCoub")
            svg.logo_text
                    use(xlink:href="#logoText")
        block nav
            include ../components/nav
        block social
            include ../components/social
        block phone
            include ../components/phone
                    
        include ../components/search