- const paths = {img: `./assets/img`, svg: `./assets/img/svg`}

section#hero.hero
    div.container
        div.hero__card
            picture.hero__card_img
                source(srcset="./assets/img/hero/hero-s@2x.webp 2x, ./assets/img/hero/hero-s.webp 1x" media="(max-width: 576px)")
                source(srcset="./assets/img/hero/hero-m@2x.webp 2x, ./assets/img/hero/hero-m.webp 1x" media="(max-width: 992px)")
                source(srcset="./assets/img/hero/hero-l@2x.webp 2x, ./assets/img/hero/hero-l.webp 1x" media="(max-width: 1200px)")
                source(srcset="./assets/img/hero/hero@2x.webp 2x, ./assets/img/hero/hero.webp 1x" media="(min-width: 1201px)")
                img(src="./assets/img/hero/hero.webp" width="40" height="40" alt="Картина")
            a.hero__card_tag.tag(href='#') #мастеркласс
            p.hero__card_author Мастер-класс от Игоря Робова
            h1.hero__card_title
                | Неоновый фотосет 2.0 
                br
                | 7 июля 20:00
            a.btn.btn-primary(href='#') Узнать больше
        h2.hero__sub-title Работы участников предыдущего мастер-класса

        - const imgSet = [{title:'first', width: '630', height: '300', alt:'Девушка на фоне неона'}, {title:'second', width: '300', height: '257', alt:'Девушка на фоне неона'}, {title:'third', width: '300', height: '257', alt:'Девушка на фоне нео... Да ладно?'}] 
        
        each img in imgSet
            picture(class='hero__photo-' + img.title)
                source(srcset= paths.img + '/hero/' + img.title + "-s@2x.webp 2x," + paths.img + '/hero/' + img.title + "-s.webp 1x" media="(max-width: 576px)")
                source(srcset= paths.img + '/hero/' + img.title + "-m@2x.webp 2x," + paths.img + '/hero/' + img.title + "-m.webp 1x" media="(max-width: 992px)")
                source(srcset= paths.img + '/hero/' + img.title + "-l@2x.webp 2x," + paths.img + '/hero/' + img.title + "-l.webp 1x" media="(max-width: 1200px)")
                source(srcset= paths.img + '/hero/' + img.title + '@2x.webp 2x,' +  paths.img +  '/hero/' + img.title + '.webp 1x'  media="(min-width: 1201px)")
                img(src= paths.img + '/hero/' + img.title + '.webp' width=img.width height=img.height alt=img.alt)