section#projects.projects
    .container.projects__container
        h2.projects__title Наши проекты
        input#projectsTab1(type="radio", name="projectsTab", aria-controls="projectsContent1", checked='')
        input#projectsTab2(type="radio", name="projectsTab", aria-controls="projectsContent2")

        .projects__content
            #projectsContent1.projects__content_panel
                - const lCardTabOne = [{tag: '#fuji', date: '9 апреля', title: 'Cемантический разбор', descr: 'В рамках спецификации современных стандартов, интерактивные прототипы', img: 'pic-1'}, {tag: '#проектзабвение', date: '20 марта', title: 'Забвение', descr: 'Играет важную роль в формировании глубокомысленных рассуждений', img: 'pic-2'}];
                - const mCardTabOne = [{tag: '#ретушь', date: '9 марта', title: '', descr: 'Как принято считать, многие известные личности и по сей день остаются уделом либералов...', img: 'pic-3'}, {tag: '#портрет', date: '1 марта', title: '', descr: 'С учётом сложившейся международной обстановки, новая модель организационной...', img: 'pic-4'}];
                - const sCardTabOne = [{tag: '#пейзаж', date: '16 июня', title: '', descr: 'Синтетически, смешаны с не уникальными данными до степени...', img: 'pic-5'}, {tag: '#портрет', date: '28 мая', title: '', descr: 'В своём стремлении улучшить опыт мы упускаем, что явные...', img: 'pic-6'}, {tag: '#предмет', date: '14 мая', title: '', descr: 'Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада', img: 'pic-7'}];
                
                +bigCard(lCardTabOne)
                +mediumCard(mCardTabOne)
                +smallCard(sCardTabOne)

            #projectsContent2.projects__content_panel
                - const lCardTabTwo = [{tag: '#портрет', date: '24 февраля', title: 'Спорная точка зрения', descr: 'Ясность нашей позиции очевидна: убеждённость некоторых оппонентов', img: 'pic-8'}, {tag: '#проектджаз', date: '2 февраля', title: 'Задания по разработке своевременного', descr: 'Повседневная практика показывает, что сложившаяся структура организации играет важную роль', img: 'pic-9'}];
                - const mCardTabTwo = [{tag: '#ретушь', date: '20 февраля', title: '', descr: 'Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов...', img: 'pic-10'}, {tag: '#портрет', date: '18 февраля', title: '', descr: 'Прежде всего, повышение уровня гражданского сознания говорит о возможностях приоритизации...', img: 'pic-11'}];
                - const sCardTabTwo = [{tag: '#пейзаж', date: '15 февраля', title: '', descr: 'Равным образом, сложившаяся структура организации...', img: 'pic-12'}, {tag: '#предмет', date: '10 февраля', title: '', descr: 'Безусловно, реализация намеченных плановых заданий обеспечивает...', img: 'pic-13'}, {tag: '#пейзаж', date: '7 февраля', title: '', descr: 'Безусловно, курс на социальный национальный...', img: 'pic-14'}];

                +bigCard(lCardTabTwo)
                +mediumCard(mCardTabTwo)
                +smallCard(sCardTabTwo)

        .projects__tabs
            label.projects__tabs_button.btn(for="projectsTab1") 1
            label.projects__tabs_button.btn(for="projectsTab2") 2