section#services.services
    div.container
        h2.services__title Услуги студии
        input#servicesTab1(type="radio", name="servicesTab", aria-controls="servicesContent1", checked='')
        input#servicesTab2(type="radio", name="servicesTab", aria-controls="servicesContent2")
        .services__tabs
            label.services__tabs_btn.link(for="servicesTab1") Основной перечень
            label.services__tabs_btn.link(for="servicesTab2") Услуги по ретуши
            span.services__tabs_glider
        .services__content
            
            #servicesContent1.services__content_panel
                - const servicesContentCard1 = [{title: 'Высокий уровень вовлечения', descr: 'Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.', img: '1'},{title: 'Диаграммы связей', descr: 'Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.', img: '2'},{title: 'Высокотехнологичная концепция', descr: 'В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих паттернов.', img: '3'},{title: 'Сложившаяся структура организации', descr: 'Кстати,  сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.', img: '4'},{title: 'Внутренние резервы и ресурсы', descr: 'Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.', img: '5'}];
                - const servicesContentPic1 = ['10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']
                - const discount = {title: 'Акция!', date: 'Только в Июне', count: '-20%', descr: '1,5 часа портретной съемки + ретушь 10 снимков', img: '1'}
                +mainCard(servicesContentCard1)
                +discount(discount)
                +worksImages(servicesContentPic1)
            #servicesContent2.services__content_panel
                - const servicesContentCard2 = [{descr: 'Принимая во внимание показатели', img: '1'},{descr: 'Также как высокое качество...', img: '2'},{descr: 'Внезапно, предприниматели в интернете...', img: '3'},{descr: 'Сделанные на базе аналитики выводы...', img: '4'},{descr: 'Задача организации, в особенности...', img: '5'},{descr: 'Таким образом, выбранный нами...', img: '6'},{descr: 'Безусловно, семантический разбор...', img: '7'},{descr: 'Есть над чем подумать: активные...', img: '8'},{descr: 'Как принято считать, сторонники...', img: '9'},{descr: 'Активно развивающиеся страны...', img: '10'}]
                - const servicesContentPic2 = ['30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45']
                - const discount2 = {title: 'Акция!', date: 'Только в Июне', count: '-20%', descr: '1,5 часа портретной съемки + ретушь 10 снимков', img: '1'}
                +secCard(servicesContentCard2)
                +discount(discount2)
                +worksImages(servicesContentPic2)