//mixins for Projects//

mixin bigCard(values)
  each value in values
    article.projects__card-l
      picture.projects__card-l_img
            source(srcset="./assets/img/projects/" + value.img + "-s@2x.webp 2x, ./assets/img/projects/" + value.img + "-s.webp 1x" media="(max-width: 576px)")
            source(srcset="./assets/img/projects/" + value.img + "-m@2x.webp 2x, ./assets/img/projects/" + value.img + "-m.webp 1x" media="(max-width: 992px)")
            source(srcset="./assets/img/projects/" + value.img + "-l@2x.webp 2x, ./assets/img/projects/" + value.img + "-l.webp 1x" media="(max-width: 1200px)")
            source(srcset="./assets/img/projects/" + value.img + "@2x.webp 2x, ./assets/img/projects/" + value.img + ".webp 1x")
            img(src="./assets/img/projects/" + value.img + ".webp" width="40" height="40" alt="Картина")
      a.projects__card-l_tag.tag(href='#')=value.tag
      p.projects__card-l_date
        svg(class='projects__card-l_calendar')
          use(xlink:href="#calendar")
        =value.date
      h2.projects__card-l_title=value.title
      p.projects__card-l_descr=value.descr
      a.projects__card-l_button.btn.btn-secondary(href='#') О проекте

mixin mediumCard(values)
  each value in values
    article.projects__card-m
      picture.projects__card-m_img
            source(srcset="./assets/img/projects/" + value.img + "-s@2x.webp 2x, ./assets/img/projects/" + value.img + "-s.webp 1x" media="(max-width: 576px)")
            source(srcset="./assets/img/projects/" + value.img + "-m@2x.webp 2x, ./assets/img/projects/" + value.img + "-m.webp 1x" media="(max-width: 992px)")
            source(srcset="./assets/img/projects/" + value.img + "-l@2x.webp 2x, ./assets/img/projects/" + value.img + "-l.webp 1x" media="(max-width: 1200px)")
            source(srcset="./assets/img/projects/" + value.img + "@2x.webp 2x, ./assets/img/projects/" + value.img + ".webp 1x")
            img(src="./assets/img/projects/" + value.img + ".webp" width="40" height="40" alt="Картина")
      a.projects__card-m_tag.tag(href='#')=value.tag
      p.projects__card-m_descr=value.descr
      p.projects__card-m_date
        svg(class='projects__card-m_calendar')
          use(xlink:href="#calendar")
        =value.date
mixin smallCard(values)
  each value in values
    article.projects__card-s
      picture.projects__card-s_img
            source(srcset="./assets/img/projects/" + value.img + "-s@2x.webp 2x, ./assets/img/projects/" + value.img + "-s.webp 1x" media="(max-width: 576px)")
            source(srcset="./assets/img/projects/" + value.img + "-m@2x.webp 2x, ./assets/img/projects/" + value.img + "-m.webp 1x" media="(max-width: 992px)")
            source(srcset="./assets/img/projects/" + value.img + "-l@2x.webp 2x, ./assets/img/projects/" + value.img + "-l.webp 1x" media="(max-width: 1200px)")
            source(srcset="./assets/img/projects/" + value.img + "@2x.webp 2x, ./assets/img/projects/" + value.img + ".webp 1x")
            img(src="./assets/img/projects/" + value.img + ".webp" width="40" height="40" alt="Картина")
      a.projects__card-s_tag.tag(href='#')=value.tag
      p.projects__card-s_descr=value.descr
      p.projects__card-s_date
        svg(class='projects__card-s_calendar')
          use(xlink:href="#calendar")
        =value.date

//mixins for Services//
mixin mainCard(values)
  each card in values
    article.services__card-l
      picture.services__card-l_img
            source(srcset="./assets/img/services/mainPic-" + card.img + "-s@2x.webp 2x, ./assets/img/services/mainPic-" + card.img + "-s.webp 1x" media="(max-width: 576px)")
            source(srcset="./assets/img/services/mainPic-" + card.img + "-m@2x.webp 2x, ./assets/img/services/mainPic-" + card.img + "-m.webp 1x" media="(max-width: 992px)")
            source(srcset="./assets/img/services/mainPic-" + card.img + "-l@2x.webp 2x, ./assets/img/services/mainPic-" + card.img + "-l.webp 1x" media="(max-width: 1200px)")
            source(srcset="./assets/img/services/mainPic-" + card.img + "@2x.webp 2x, ./assets/img/services/mainPic-" + card.img + ".webp 1x")
            img(src="./assets/img/services/mainPic-" + card.img + ".webp" width="40" height="40" alt="Картина")
      .services__card-l_container
        h2.services__card-l_title=card.title
        p.services__card-l_descr=card.descr
        a.services__card-l_button.link(href='#') Подробнее
          span.link__arrow

mixin secCard(values)
  each card in values
    article.services__card-s
      picture.services__card-s_img
            //source(srcset="./assets/img/services/secPic-" + card.img + "-s@2x.webp 2x, ./assets/img/services/secPic-" + card.img + "-s.webp 1x" media="(max-width: 576px)")
            //source(srcset="./assets/img/services/secPic-" + card.img + "-m@2x.webp 2x, ./assets/img/services/secPic-" + card.img + "-m.webp 1x" media="(max-width: 992px)")
            //source(srcset="./assets/img/services/secPic-" + card.img + "-l@2x.webp 2x, ./assets/img/services/secPic-" + card.img + "-l.webp 1x" media="(max-width: 1200px)")
            //source(srcset="./assets/img/services/secPic-" + card.img + "@2x.webp 2x, ./assets/img/services/secPic-" + card.img + ".webp 1x")
            img(src="./assets/img/services/secPic-" + card.img + ".webp" width="40" height="40" alt="Картинка")
      .services__card-s_container
        p.services__card-s_descr=card.descr
        a.services__card-s_button.link(href='#') Подробнее
          span.link__arrow

mixin discount(value)
  article.services__discount(style="background-image: url(./assets/img/services/discount-" + value.img + ".webp)")
    h2.services__discount_title=value.title
    p.services__discount_date=value.date
    p.services__discount_count=value.count
    p.services__discount_descr=value.descr
    a.services__discount_button.btn.btn-primary(href='#') Узнать больше

mixin worksImages(values)
  article.services__portfolio
    h2.services__portfolio_title Выполненные работы
    .services__portfolio_container
      each number in values
        img.services__portfolio_img(src="./assets/img/services/" + number + ".webp" width="60" height="60" alt="Картинка")