extends ../layout/default

block variables
	- const title = "Hight Pass"
	- const paths = {img: `./assets/img`, svg: `./assets/img/svg`}

block content
	block svg-sprite
		include ../../assets/img/svg/sprite.symbol.svg

	block header
		include ../includes/modules/header

	main
		block mixins
			include ../utils/mixins

		block hero
			include ../includes/modules/hero

		block about
			include ../includes/modules/about

		block projects
			include ../includes/modules/projects

		block services
			include ../includes/modules/services

		block contacts
			include ../includes/modules/contacts

	block footer
		include ../includes/modules/footer

block scripts
	script(defer src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU")