/* Fonts:
  https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  ========================================================================== */

@import 'mixins';

/*
  One of the ways:
  1. handle method,
  2. use mixin;
*/

// 1. Example handle method (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);

@include font-face("TTFirsNeue", "/assets/fonts/ttfirsneue/ttfirsneue-thin-webfont", 100);
@include font-face("TTFirsNeue", "/assets/fonts/ttfirsneue/ttfirsneue-light-webfont", 300);
@include font-face("TTFirsNeue", "/assets/fonts/ttfirsneue/ttfirsneue-regular-webfont", 400);
@include font-face("TTFirsNeue", "/assets/fonts/ttfirsneue/ttfirsneue-medium-webfont", 500);
@include font-face("TTFirsNeue", "/assets/fonts/ttfirsneue/ttfirsneue-bold-webfont", 700);

@include font-face("Roboto", "/assets/fonts/roboto/roboto-thin", 100);
@include font-face("Roboto", "/assets/fonts/roboto/roboto-light", 300);
@include font-face("Roboto", "/assets/fonts/roboto/roboto-regular", 400);
@include font-face("Roboto", "/assets/fonts/roboto/roboto-medium", 500);
@include font-face("Roboto", "/assets/fonts/roboto/roboto-bold", 700);
