/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'TTFirsNeue', Helvetica, Arial, sans-serif;
$secondaryFont           : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color           : #cfc4c4;
$primary-color           : #ff6e30;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$white-color             : #ffffff;
$light-color             : #999999;
$purple-color            : #8854d0;
$yellow-color            : #fff500;
$smoky-white             : #E9E9E9;
$black-brown             : #202020;
$dull-gray               : #666666;
$gray-color              : #808080;
$pearlescent-light-gray  : #999999;

// Primarys color
$darken-primary-color        : darken($primary-color, 23);
$active-primary-color        : adjust_hue(desaturate(darken($primary-color, 18), 5), 0);

 
// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;


////////////////////////
$desctopContainer: 1290px;
$tabletHorizontalContainer: 1024px;
$tabletContainer: 768px;
$phoneContainer: 320px;


// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 860px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$white: $white-color;
$whiteText: $white;
$colorText: $black-brown;
$lightgrey: $light-color;
$grey: #808080;
$lightGreyColor: #C4C4C4;
$descrText: #CACACA;
$mdgrey: #4A4A4A;
$darkgrey: #333;
$accentColor: #FF6E30;
$accentColorLight: #FFD4C1;
$accentColorDark: #BC572B;
$accentColorDarkness: #CE4307;

$searchBtnColor: #BCBCBC;
$searchInputColor: $smoky-white;

$linkDefault: $descrText;
$linkHover: $accentColor;
$linkFocus: $accentColorDark;
$linkActive: $accentColorDarkness;

$bgTopHeader: $colorText;
$bgBottomHeader: $mdgrey;
$bgAbout: $colorText;
$bgInputFeedback: $mdgrey;

$bgPagination: $descrText;
$bgPaginationHover: $searchInputColor;
$bgPaginationActive: $accentColor;
$bgPaginationFocus: $accentColorLight;

$font-family-base: Roboto, sans-serif;
$font-family-seccond: TT Firs Neue, sans-serif;