.about {
    color: $whiteText;
    background-color: $bgAbout;

    .container {
        @include grid;
        grid-template-rows: 30px 1fr auto;
        padding-top: 30px;
        padding-bottom: 70px;
        @include sm{ 
            grid-template-rows: 30px auto 278px auto;
            padding-bottom: 60px;
        }
    }
    &__title,
    &__descr,
    &__picture {
        grid-column: span 6;
        @include xl{ 
            grid-column: span 4;
        }
        @include lg{ 
            grid-column: span 3;
        }
        @include sm{ 
            grid-column:1 / span 4;
        }
    }
    &__title {
        line-height: 1;
        color: inherit;
    }

    &__descr {
        grid-row: 2 / span 2;
        line-height: 28px;
        color: $descrText;
        @include sm{ 
            grid-row: 2;
        }
    }

    &__picture {
        grid-row: 2;
        height: 100%;
        @include sm{ 
            grid-row: 3;
        }
    }
}