.contacts {
  .container {
    margin-bottom: 68px;
    @include grid;
    grid-template-rows: 30px 460px;
    gap: 20px 30px;
    @include xl {
    }
    @include lg {
    grid-template-rows: 30px 460px 445px;
    }
    @include sm {
      grid-template-rows: 30px 460px 430px;
    }
  }

  &__title {
    grid-column: span 4;
    grid-row: 1;
  }

  
  &__address {
    grid-column: 1 / span 4;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 60px;
    color: $whiteText;
    background-color: rgba(32, 32, 32, .85);

    @include xl {
      height: 160px;
      margin-top: auto;
      padding: 25px 20px 25px 30px;
    }
    @include lg {
      
    }
    @include sm {
      padding: 26px 20px 20px 15px;
    }
    &_title {
      margin-bottom: 6px;
      font-weight: 400;
    }
    &_street {
      max-width: 300px;
      color: $descrText;
      
      @include lg {
        max-width: 436px;
      }
    }
    &_tel {
      color: inherit;
    }
  }
  &__map {
    grid-column: 1 / span 8;

    [class*="ground-pane"] {
      filter: grayscale(1);
    }
    
    @include sm {

    }
  }
  &__address,
  &__map {
    grid-row: 2;
    @include xl {
      grid-column: 1 / span 5;
    }
    @include lg {
      grid-column: 1 / span 6;
    }
    @include sm {
      grid-column: 1 / span 4;
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }
  &__form {
    grid-column: span 4;
    grid-row: 2;
    
    @include xl {
    }
    @include lg {
      grid-column: 1 / span 4;
      grid-row: 3;
    }
    @include sm {
    }
    }
}
