.footer {
    position: relative;
    height: 106px;
    background-color: $black-brown;
    &::before {
        @include sm {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 62px;
            background-color: $bgBottomHeader;
        }
    }
    @include sm {
        height: 185px;
    }
    .container {
        @include grid;
        height: 100%;
        align-content: center;
        @include sm {
            grid-template-rows: 123px 62px;
        }
    }

    &__license {
        z-index: 1;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo {
            margin-bottom: 5px;
        }

        &_text {
            font-size: 14px;
            color: $smoky-white;
        }

        @include xl {
            grid-column: span 3;
        }
        @include sm {
            grid-column: span 4;
            grid-row: 2;
            align-items: center;
        }
    }
    &__quote {
        grid-column: span 6;
        max-width: 365px;
        &_text {
            color: $descrText;
        }

        &_autor {
            color: $dull-gray;
        }
        @include xl {
            grid-column: span 3;
        }
        @include lg {
            display: none;
        }
        @include sm {
        }
    }
    &__social {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &_text {
            margin-bottom: 5px;
            color: $descrText;
            @include sm {
                font-size: 16px;
            }
        }
        @include lg {
            grid-column: span 3;
        }
        @include sm {
            grid-column: span 4;
            grid-row: 1;
            align-items: center;
            justify-content: center;
        }
    }
}