.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $bgTopHeader;

    @include sm {
      height: 70px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: $bgBottomHeader;
  }

  .container {
    display: grid;
    grid-template-columns: 200px, 1fr, 200px;
    position: relative;
    z-index: 2;
    grid-template-rows: 80px 45px;
    align-items: center;
    margin-bottom: 30px;

    @include sm {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 70px 45px;
    }
    & > .phone {
      grid-row: 2;
    
      @include md {
        grid-column: 3;
        grid-row: 1;
        justify-self: flex-end;
        margin-right: 50px;
      }
    
      @include sm {
        display: none;
        grid-row: 2;
      }
    }
  }
  .logo {
    grid-row: 1;

    @include sm {
      z-index: 2;
      grid-column: 1 / span 1;
    }
  }
  .social {
    @include md {  
      display: none;
    }
  }
}
