.hero {
    .container {
        @include grid;
        grid-template-rows: 1fr 300px 257px;
        gap: 30px 30px;
        margin-bottom: 40px;

        
        @include sm{ 
            grid-template-rows: 422px 1fr 186px 105px;
        }
    }

    &__card {
        grid-column: 1 / 7;
        grid-row: 1 / 4;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 60px 60px;
        background: center center / auto 100% ;
        @include xl {
            padding: 15px 15px 30px 30px;
        }
        @include sm{
            padding: 6px 5px 30px 30px;
        }
        &_img {
            position: absolute;
            left:0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        &_author {
            margin-top: auto;
            margin-bottom: 10px;
            color: $whiteText;
        }

        &_title {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 37px;
            color: $whiteText;
            @include sm{
                font-size: 24px;
                line-height: 26px;
            }
        }
        @include xl{ 
            grid-column: 1 / 5;
        }
        @include lg{ 
            grid-column: 1 / 4;
        }
        @include sm{ 
            grid-row: 1;
            grid-column: span 4;
        }
    }

    &__sub-title,
    &__photo-first {
        grid-column: span 6;
        @include xl{ 
            grid-column: span 4;
        }
        @include lg{ 
            grid-column: span 3;
        }
        @include sm{ 
            grid-column: span 4;
        }
    }
    &__photo-second,
    &__photo-third {
        grid-column: span 3;
        @include xl{ 
            grid-column: span 2;
        }
        @include lg{ 
            grid-column: span 3;
        }
        @include sm{ 
            grid-column: span 2;
        }
    }
    &__photo-third {
        @include lg{ 
            display: none;
        }
        @include sm{ 
            display: block;
        }
    }
}