.projects {
  padding-top: 40px;

  &__container {
    position: relative;
    & > input[type="radio"] {
      display: none;
    }
  }
  &__title {
    margin-bottom: 14px;
  }
  &__card-l {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: $whiteText;
    background: center top / cover no-repeat;
    
    @include sm {
      min-height: 422px;
    }
    &_img {
      position: absolute;
      left:0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    &_date {
      margin-bottom: 5px;
      color: $whiteText;
      fill: $whiteText;
      
      @include sm {
        margin-top: auto;
      }
    }
    &_title,
    &_descr {
      max-width: 295px;
    }
    &_title {
      margin-bottom: 10px;
      @include sm {
        font-size: 24px;
      }
    }
    &_descr {
      line-height: 22px;
      @include sm {
        margin-bottom: 20px;
      }
    }
    &_button {
      margin-top: auto;
      @include sm {
        margin-top: 0;
      }
    }
  }
  &__card-m,
  &__card-s {
    position: relative;
    display: flex;
    flex-direction: column;
    &_img {
      height: 184px;
      margin-bottom: 18px;
    }
    &_descr {
      width: calc(100% + 7px);
      height: 66px;
      margin-bottom: 16px;
      line-height: 22px;
      overflow: hidden;
      white-space: initial;
      text-overflow: ellipsis;
    }
    &_date {
      color: $lightgrey;
      fill: $lightgrey;
    }
  }
  &__card-m {
    grid-column: span 3;
    @include sm {
      grid-column: span 4;
    }
  }
  &__card-s {
    grid-column: span 2;
    @include sm {
      grid-column: span 4;
    }
    &_descr {
      @include sm {
        height: 44px;
      }
    }
  }
  &__card-l,
  &__card-m,
  &__card-s {
    &_tag {
      position: absolute;
      top: 7px;
      right: 7px;
      @include sm {
        top: 5px;
        right: 5px;
      }
    }
    &_date {
      display: flex;
      font-size: 12px;
    }
    &_calendar {
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
  }
  &__content {
    display: flex;
    margin-bottom: 50px;
    
    &_panel {
      display: none;
      animation: fadein 0.8s;
    }
    &_panel:nth-child(1) {
      .projects__card-l {
        &:nth-child(1) {
          grid-column: 7 / span 6;
          grid-row: 1;

          @include xl {
            grid-column: 1 / span 5;
            grid-row: 2;
          }
          @include lg {
            grid-column: 1 / span 6;
          }
          @include sm {
            grid-column: 1 / span 4;
            grid-row: 4;
          }
        }
        &:nth-child(2) {
          grid-column: 1 / span 6;
          grid-row: 2;

          @include xl {
            grid-column: 4 / span 5;
            grid-row: 3;
          }
          @include lg {
            grid-column: 1 / span 6;
            grid-row: 4;
          }
          @include sm {
            grid-column: 1 / span 4;
            grid-row: 7;
          }
        }
      }
      .projects__card-m {
        &:nth-child(3),
        &:nth-child(4) {
          grid-row: 2;
        }
        &:nth-child(3) {
          @include xl {
            grid-row: 2;
          }
          @include lg {
            grid-row: 3;
          }
          @include sm {
            grid-row: 5;
          }
        }
        &:nth-child(4) {
          @include xl {
            grid-row: 3;
          }
          @include sm {
            grid-row: 6;
          }
        }
      }
      .projects__card-s {
        &:nth-child(7) {
          @include xl {
            grid-column: span 4;
          }
          @include lg {
            grid-column: span 2;
          }
          @include sm {
            grid-column: span 4;
          }
        }
      }
    }
    &_panel:nth-child(2) {
      .projects__card-l {
        &:nth-child(1) {
          grid-column: span 6;
          grid-row: 1;

          @include xl {
            grid-column: 4 / span 5;
            grid-row: 2;
          }
          @include lg {
            grid-column: 1 / span 6;
          }
          @include sm {
            grid-column: 1 / span 4;
            grid-row: 4;
          }
        }
        &:nth-child(2) {
          grid-column: 7 / span 6;
          grid-row: 2;
          @include xl {
            grid-column: span 5;
            grid-row: 3;
          }
          @include lg {
            grid-column: 1 / span 6;
            grid-row: 4;
          }
          @include sm {
            grid-column: 1 / span 4;
            grid-row: 7;
          }
        }
      }
      .projects__card-m {
        &:nth-child(3) {
          @include xl {
            grid-row: 2;
          }
          @include lg {
            grid-row: 3;
          }
          @include sm {
            grid-row: 5;
          }
        }
        &:nth-child(4) {
          @include xl {
            grid-row: 3;
          }
          @include lg {
            grid-row: 3;
          }
          @include sm {
            grid-row: 6;
          }
        }
        
        
      }  
      .projects__card-s {
        &:nth-child(5) {
          @include xl {
            grid-column: span 4;
          }
          @include lg {
            grid-column: span 2;
          }
          @include sm {
            grid-column: span 4;
          }
        }
      }
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    
    @include sm {
      position: absolute;
      top: 0;
      right: 20px;
    }

    &_button {
      justify-content: center;
      width: 30px;
      height: 30px;
      padding: 0;
      color: $colorText;
      background: $bgPagination;
      border: none;

      &:first-child {
        margin-right: 30px;
      }
      &:hover {
        color: $accentColor;
        background: $bgPaginationHover;
      }
      &:focus-visible {
        color: $accentColor;
        background: $bgPaginationHover;
      }
      &.active {
        color: $whiteText;
        background: $bgPaginationActive;
      }
    }
  }
  #projectsTab1 {
    &:checked {
      & ~ .projects__content #projectsContent1 {
        @include grid;
        grid-auto-rows: 300px;
        gap: 30px 30px;
        @include sm {
          grid-auto-rows: auto;
        }
      }
      & ~ .projects__tabs label:first-child {
        color: $whiteText;
        background: $bgPaginationActive;
      }
    }
  }
  #projectsTab2 {
    &:checked {
      & ~ .projects__content #projectsContent2 {
        @include grid;
        grid-auto-rows: 300px;
        gap: 30px 30px;
        
        @include sm {
          grid-auto-rows: auto;
        }
      }
      & ~ .projects__tabs label:nth-child(2) {
        color: $whiteText;
        background: $bgPaginationActive;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
