.services {
  padding-top: 40px;
  &__title {
    grid-column: span 2;
    grid-row: 1;
  }
  input[type="radio"] {
    display: none;
  }
  &__tabs {
    display: flex;
    position: relative;
    max-width: 410px;
    padding-bottom: 6px;
    margin-bottom: 30px;
    
    @include sm {
      max-width: 280px;
    }
    &_btn {
      display: flex;
      font-size: 14px;
      color: $black-brown;
      cursor: pointer;
      transition: color 0.15s ease-in;

      &:first-child {
        margin-right: auto;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $lightGreyColor;
    }
    &_glider {
      position: absolute;
      bottom: 0;
      display: flex;
      height: 4px;
      background-color: $accentColor;
      transition: 0.25s ease-out;
    }
  }
  &__content {
    display: flex;
    margin-bottom: 50px;
    
    &_panel {
      display: none;
    }
    &_panel:nth-child(1) {
      animation: fadeinServise1 0.8s;
    }
    &_panel:nth-child(2) {
      animation: fadeinServise2 0.8s;
    }
  }
  %for-grids {
    @include grid;
    grid-auto-rows: 140px;
    gap: 30px 30px;
    width: 100%;
  }
  #servicesTab1 {
    &:checked {
      & ~ .services__tabs > .services__tabs_btn:nth-child(1) {
        color: $accentColor;
      }
      & ~ .services__tabs > .services__tabs_glider {
        width: 148px;
        transform: translateX(0);
        @include sm {
          width: 136px;
        }
      }
      & ~ .services__content #servicesContent1 {
        @extend %for-grids;
        @include xl {
          grid-auto-rows: auto;
          row-gap: 20px;
        }
        @include lg {
        }
        @include sm {
        }
      }
    }
  }
  #servicesTab2 {
    &:checked {
      & ~ .services__tabs > .services__tabs_btn:nth-child(2) {
        color: $accentColor;
      }
      & ~ .services__tabs > .services__tabs_glider {
        width: 134px;
        transform: translateX(276px);
        @include sm {
          width: 117px;
          transform: translateX(163px);
        }
      }
      & ~ .services__content #servicesContent2 {
        @extend %for-grids;
        @include xl {
          grid-auto-rows: 234px;
          row-gap: 20px;
        }
        @include lg {
          grid-auto-rows: 266px;
        }
        @include sm {
        }
      }
    }
  }
  &__card-l {
    grid-column: 1 / span 8;
    display: flex;
    @include xl {
      grid-column: 1 / span 5;
    }
    @include lg {
      grid-column: 1 / span 3;
      flex-direction: column;
      &:nth-child(2n) {
        grid-column: span 3;
      }
    }
    @include sm {
      grid-column: span 4;
      
      &:nth-child(2n) {
        grid-column: span 4;
      }
    }
    &_container {
      display: flex;
      flex-direction: column;
      max-width: 520px;
      
    }
    &_img {
      max-width: 300px;
      min-width: 218px;
      height: 140px;
      margin-right: 30px;
      @include xl {
        height: 184px;
      }
      @include lg {
        max-width: 100%;
        margin-right: 0;
      }
    }
    &_title {
      font-weight: 400;
      line-height: 28px;
    }
    &_descr {
      font-family: $secondaryFont;
      line-height: 22px;
      color: $light-color;
    }
    &_button {
      margin-top: auto;
      font-family: $secondaryFont;
      font-weight: 700;
      line-height: 28px;
      color: $accentColor;
      transition: all .3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__card-s {
    grid-column: 1 / span 4;
    display: flex;

    &:nth-child(2n) {
      grid-column: span 4;
    }

    @include xl {
      grid-column: span 3;
      flex-direction: column;
      &:nth-child(2n) {
        grid-column: span 2;
      }
    }
    @include lg {
      grid-column: span 3;
      &:nth-child(2n) {
        grid-column: span 3;
      }
    }
    @include sm {
      grid-column: span 4;
      &:nth-child(2n) {
        grid-column: span 4;
      }
    }

    

    &_container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 220px);
      @include xl {
        width: 100%;
      }
    }
    &_img {
      min-width: 190px;
      margin-right: 30px;
      @include xl {
        margin-right: 0;
        max-height: 140px;
      }
      @include lg {
      }
      @include sm {
      }
    }
    &_descr {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 24px;
      overflow-wrap: break-word;
    }
    &_button {
      font-family: $secondaryFont;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      color: $accentColor;
      transition: all .3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__discount {
    grid-column: 9 / span 4;
    grid-row: 1 /span 3;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px;

    @include xl {
      grid-column: 6 / span 3;
      grid-row: 1 /span 2;
    }
    @include lg {
      grid-column: 1 / span 6;
      grid-row: auto;
      background: center center / 100% auto no-repeat;
    }
    @include sm {
      grid-column: span 4;
    }

    &_title{
      font-size: 36px;
      color: $yellow-color;
    }
    &_date {
      margin-bottom: auto;
      font-weight: 700;
      color: $yellow-color;
    }
    &_count {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 116px;
      height: 60px;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: 700;
      color: $yellow-color;
      border: 3px solid #FFF500;
      border-radius: 75%;
    }
    &_descr {
      max-width: 220px;
      margin-bottom: 10px;
      font-family: $secondaryFont;
      color: $white;
    }
    &_button {
    }
  }
  &__portfolio {
    grid-column: 9 / span 4;
    grid-row: 4 / span 2;
    overflow: hidden;
    @include xl {
      grid-column: 6 / span 3;
      grid-row: 3 / span 3;
    }
    @include lg {
      grid-column: 1 / span 6;
      grid-row: auto;
    }
    @include sm {
      grid-column: span 4;
    }
    &_title {
      margin-bottom: 10px;
    }
    &_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 60px;
      gap: 30px;
      @include xl {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 71px;
      }
      @include lg {
        grid-template-columns: repeat(6, 1fr);
      }
      @include sm {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 94px;
      }
    }
    
  }
}

@keyframes fadeinServise1 {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeinServise2 {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
